body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 50px;
    border-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.quiz-container {
    background-color: rgb(141, 206, 236);
    max-width: 80%;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.options label {
    display: block;
    margin: 10px 0;
}
.score{
    font-size: 20px;
    padding: 10px;
}